@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .match-page {
        @apply w-full h-screen flex;
    }

    .match-items {
        @apply mt-2;
    }

    .match-items button {
        @apply mx-2 p-2 bg-slate-900 text-white;
    }

    .match-map {
        @apply w-[70%] h-[70%] border border-black self-center;
    }
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: blue;
}
